*{
    font-family: 'Tilt Neon', cursive;
    padding: 0;
    margin: 0;

}
body{
    background-color: #f0f4f5;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    margin: 50px 0px;
}
.webLink ul{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 100px; */
    gap: 50px;
}
.webLink ul li{
    list-style: none;
}
.webLink ul li a{
    text-decoration: none;
    color: black;
    /* font-weight: 900;  */
    font-family: 'Poppins', sans-serif;
}
/* main section */
.inputFunction{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    box-shadow: 0px 6px 6px rgba(38, 38, 38, 0.702), 0 3px 6px rgba(0, 0, 0, 0.692);
    margin-left: 700px;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    
}
.inputFunction h1{
    margin-top: -30px;
    /* font-size: 50px; */
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label[for="fname"]{
    font-size: 14px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label[for="message"]{
    font-size: 14px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
label[for="useremail"]{
    font-size: 14px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
}
input[type="text"]{
    border-radius: 5px;
    border: none;
    background: white;
    
}
input[type="submit"]{
    background-color: #20bc7e;
    border-radius: 5px;
    padding: 8px 25px;
    color: #fff;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}